<div class="feedback-detail">
    <div class="title">
           CHI TIẾT GÓP Ý
    </div>
    <br>
    <div class="content">
        <div class="content-detail">
            <label for="">Tiêu đề:</label>
            <span>Lan can tầng 3 nhà B</span>
        </div>
        <div class="content-detail">
            <label for="">Nội dung:</label>
            <span>Chiều cao lan can ban công đối với những công trình dưới 9 tầng
                Đối với bất kì loại lan can nào đều không có một thông số cụ thể, tuy nhiên chiều cao lan can ban công tiêu chuẩn vẫn rất cần phải được đảm bảo để đem lại an toàn cho người sử dụng. Tuy nhiên, để đảm bảo an toàn thì bạn nên chọn cho căn nhà một độ cao phù hợp từ 1m đến 1,1m. Ngoài kích thước ra thì kiểu thiết kế cũng là một yếu tố quan trọng quyết định đến tính an toàn của lan can.</span>
        </div>
        <div class="content-detail">
            <label for="">Tạo lúc:</label>
            <span>17:30 08/05/2021</span>
        </div>
        <div class="content-detail">
            <label for="">Người tạo:</label>
            <span>Nguyễn Tuấn Anh</span>
        </div>
        <div class="content-detail">
            <label for="">Lớp:</label>
            <span>4A3</span>
        </div>
        <div class="content-detail">
            <label for="">Phản hồi:</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>

    </div>
    <div class="group-table">
           <button class="btn-save">Lưu</button>
           <button class="btn-cancel">Huỷ</button>
    </div>
</div>
