<div class="member-home">
  <h4>Lớp 10A1</h4>
  <p>Sĩ số: 35</p>
  <div class="btn-group">
    <div class="list-button">
      <button class="btn-schedule">
        <img src="assets/svg/icon-save.svg" alt="" srcset="" />Lưu
      </button>
      <button class="btn-schedule" (click)="ImportFile()">
        <img src="assets/svg/icon-upload.svg" />Nhập
      </button>
      <button class="btn-schedule" (click)="exportExcel(dataExport, 'file_menu')">
        <img src="assets/svg/icon-output.svg" />Xuất
      </button>
    </div>
    <div>
      <button class="btn-create">+ Thêm</button>
    </div>
  </div>
  <div class="table">
    <table class="data-table table-menu">
      <thead>
        <tr>
          <th>Món ăn</th>
          <th>Thứ 2</th>
          <th>Thứ 3</th>
          <th>Thứ 4</th>
          <th>Thứ 5</th>
          <th>Thứ 6</th>
          <th>Thứ 7</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listMenuMain; let first = first"> 
          <td *ngIf="first" [attr.rowspan]="listMenuMain.length">
              Món chính
          </td>
          <td *ngFor="let day of listDay" (click)="clickEditDish(item, item[day.DayValue])">
            {{ item[day.Day] || item[day.DayValue]}}
          </td>
        </tr>
        <tr *ngFor="let item of listMenuSub; let first = first"> 
          <td *ngIf="first" [attr.rowspan]="listMenuSub.length">
            Món phụ
          </td>
          <td *ngFor="let day of listDay" (click)="clickEditDish(item, item[day.DayValue])">
            {{ item[day.Day] || item[day.DayValue]}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
