<div class="card">
    <div
        class="base-card"
        *ngFor="let i of dataCard"
    >
        <div class="card-img"
        (click)="callback.emit(i)"
        >
            <img
                src="assets/svg/icon-school.svg"
                alt=""
            >
        </div>
        <ul class="card-info"
        (click)="callback.emit(i)"
        >
            <li class="base-header">{{i.Name}}</li>
            <li class="base-text">
                <div class="base-icon">
                    <img
                        src=" assets/svg/menber/mb-icon-ms.svg"
                        alt=""
                    >
                </div>
                {{i.ClassCount}}
            </li>
            <li class="base-text">
                <div class="base-icon">
                    <img
                        src="assets/svg/menber/mb-icon-group.svg"
                        alt=""
                    >
                </div>{{i.StudentCount}}
            </li>
        </ul>
        <img *ngIf="showIcon" class="delete" src="assets/svg/icon-delete.svg" alt="" srcset="">
    </div>
</div>