<div class="card">
    <div
        class="base-card"
        *ngFor="let i of dataCard"
    >
        <div class="card-img">
            <img
                src="assets/svg/icon-school.svg"
                alt=""
            >
        </div>
        <ul class="card-info">
            <li class="base-header">{{i.header}}</li>
            <li class="base-text">
                <div class="base-icon">
                    <img
                        src=" assets/svg/menber/mb-icon-ms.svg"
                        alt=""
                    >
                </div>
                {{i.group}}
            </li>
            <li class="base-text">
                <div class="base-icon">
                    <img
                        src="assets/svg/menber/mb-icon-group.svg"
                        alt=""
                    >
                </div>{{i.member}}
            </li>
        </ul>

    </div>
</div>