<div class="create-news">
  <div class="title">Thêm tin tức mới</div>
  <div class="form">
    <div class="content">
      <label class="label" for="">Link tin tức</label>
      <input type="text" />
    </div>
    <div class="content">
      <label class="label" for="">Tiêu đề</label>
      <input type="text" />
    </div>
    <div class="images">
      <img src="" alt="">
      <div class="btn-upload-img">
           <input id="upload" type="file" hidden>
           <label class="upload" for="upload"></label>
           <input id="default" type="file" hidden> 
           <label class="default" for="default"></label>
      </div>
    </div>

  </div>
  <div class="group-btn">
    <button class="btn-save">Xác nhận</button>
    <button class="btn-cancel">Huỷ bỏ</button>
  </div>
</div>
