.create-news {
  .title {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 30px;
  }
  .form {
    padding: 0 20px;
    .content {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      .label {
        margin-bottom: 10px;
      }
      input,
      select,
      textarea {
        width: 95%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #e4e4e4;
        outline: none;
      }
      .img {
        display: flex;
        flex-direction: column;
        img {
          width: 150px;
          height: 150px;
        }
      }
    }
    .images {
      width: 100%;
      margin: auto;
      height: 300px;
      border-radius: 20px;
      border: 1px solid;
      margin-top: 30px;
      margin-bottom: 30px;
      .preview {
        width: 100%;
        height: 300px;
        border-radius: 20px;
      }

    }
  }
}
.btn-save {
  width: 150px;
  height: 45px;
  border-radius: 10px;
  border: none;
  background-color: #e9bc82;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-right: 15px;
}
.cancel {
  width: 150px;
  height: 45px;
  border-radius: 10px;
  border: none;
  background-color: #9e9e9e;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
}
.group-btn {
  text-align: center;
  margin-top: 1rem;
}
.btn-upload-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    .upload,
    .default {
      width: 180px;
      height: 40px;
      border: none;
      border-radius: 10px;
      text-align: center;
      color: white;
      font-size: 20px;
      line-height: 40px;
      .icon {
        position: relative;
        top: 5px;
        left: -5px;
      }
    }
    .upload {
      background-color: #e9bc82;
      margin-right: 10px;
    }
    .default {
      background-color: #9e9e9e;
      margin-left: 10px;
      .icon {
        position: relative;
        top: 5px;
        left: -5px;
      }
    }
  }
