:root {
  --color-bg-white: #ffffff;
  --color-text-header: #222222;
  --color-warning: #ffbe41;
  --color-list-nav: #F2C387;
  --color-active: #ee0033;
  --color-section: #f8f8f8;
  --color-white: #ffffff;
}
