<div class="member-home">
  <h4>Lớp 10A1</h4>
  <p>Giáo viên chủ nhiệm: Nguyễn văn A</p>
  <p>Sĩ số: 35</p>
  <div class="btn-group">
    <div class="list-button">
      <button class="btn-schedule">
        <img src="assets/svg/icon-save.svg" alt="" srcset="" />Lưu
      </button>
      <button class="btn-schedule" (click)="upload()">
        <img src="assets/svg/icon-upload.svg" />Nhập
      </button>
      <button (click)="exportExcel(dataExport, 'Thời khoá biểu')" class="btn-schedule">
        <img src="assets/svg/icon-output.svg" />Xuất
      </button>
    </div>
    <div>
      <button class="btn-create">+ Thêm</button>
    </div>
  </div>
  <div class="table">
    <table class="data-table">
      <thead>
        <tr>
          <th>Tiết</th>
          <th>Thứ 2</th>
          <th>Thứ 3</th>
          <th>Thứ 4</th>
          <th>Thứ 5</th>
          <th>Thứ 6</th>
          <th>Thứ 7</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of dataSchedule">
          <td>{{ i.LessonId }}</td>
          <td *ngFor="let item of i.ListSubjects">
            <p *ngIf="item.SubjectName === 'Chào cờ'">{{ item.SubjectName }}</p>
            <div
              class="listSubject"
              *ngIf="
                item.SubjectName !== 'Chào cờ' &&
                item.SubjectName !== null &&
                item.TeacherName !== null
              "
            >
              <Select
                class="selected"
                [(ngModel)]="item.SubjectName" ngDefaultControl
              >
                <option
                  *ngFor="let subject of listSubject"
                  [value]="subject.SubjectName"
                >
                  {{ subject.SubjectName }}
                </option>
              </Select>
              <input type="text" [(ngModel)]="item.TeacherName">
              <input type="text" [(ngModel)]="item.ClassRoom">
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
