.edit-dish {
  .title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
  }
  .form {
    padding: 0 20px 20px 20px;
    .group {
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      label{
          margin-bottom: 10px;
          font-weight: bold;
      }
      input {
        width: 95%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #e4e4e4;
        outline: none;
      }
    }
  }
}
.btn-group{
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.btn-save{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #E9BC82;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin: 0 16px;

}
.btn-cancel{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #9E9E9E;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}