<app-loader></app-loader>
<div class="edit-dish">
     <div class="title">
            SỬA MÓN
     </div>
     <div class="form">
         <div class="group">
             <label for="">Món cũ</label>
             <input disabled type="text" [(ngModel)]="dishName">
         </div>
         <div class="group">
              <label for="">Món mới</label>
              <input type="text" [(ngModel)]="modelName">
        </div>
     </div>
     <div class="btn-group">
         <button (click)="clickButton('cancel')" class="btn-cancel">Huỷ</button>
         <button (click)="clickButton('save')" class="btn-save">Lưu</button>
     </div>
</div>


