<div class="member-home">
    <h4>TÀI LIỆU</h4>
    <app-base-card
      [dataCard]="list1"
      routerLink="/document/document-group-detail"
    >
    </app-base-card>
    <app-base-card
      [dataCard]="list2"
      routerLink="/document/document-group-detail"
    >
    </app-base-card>
    <app-base-card
      [dataCard]="list3"
      routerLink="/document/document-group-detail"
    >
    </app-base-card>
    <app-base-card
      [dataCard]="highSchool"
      routerLink="/document/document-group-detail"
    >
    </app-base-card>
  </div>
  